.interactive-card {
  display: flex;
  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }
  .card-part {
    position: relative;
    flex: 1;
    display: grid;
    .cards-container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 75%;
      max-width: 650px;
      min-width: 450px;
      gap: 2rem;
      top: 0;
      left: 10vw;
      bottom: 0;
      @media screen and (max-width: 750px) {
        
      }
      .card-back {
        position: relative;
        .cvc-text {
          position: absolute;
          top: 110px;
          right: 50px;
          color: $white;
        }
      }

      .card-front {
        position: relative;
        .card-content {
          padding: 1.5rem;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .card-data {
            color: $white;
            letter-spacing: 4px;
          }

          .circles-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;

            .filled-circle {
              border-radius: 50%;
              background-color: $white;
              width: 50px;
              height: 50px;
            }

            .outline-circle {
              border-radius: 50%;
              width: 25px;
              height: 25px;
              border: 1px solid $white;
            }
          }
        }
      }

      .left-alignment {
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: start;
      }
      .right-alignment {
        z-index: 0;
        width: 100%;
        display: flex;
        justify-content: end;
      }
    }
  }

  .form-part {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .thank-you-wrapper {
      min-height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column9;
    }
  }
}
