$red:hsl(0, 100%, 66%);
$linear-gradient: linear-gradient(135deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$white : hsl(0, 0%, 100%);
$light-grayish-violet:hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

$font-family-base:"Space Grotesk", sans-serif;
$body-color:$very-dark-violet;

// $theme-colors: (
//   'primary': $linear-gradient,
//   'danger': $red,
//   'light': $dark-grayish-violet,
//   'dark': $very-dark-violet,
// );

// $theme-colors: map-merge($theme-colors , $custom-colors);

